.App {
  max-width: 1280px;
  margin: auto;
  padding: 0px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid #EEEEEE;
  font-size: 18px;
  padding: 0px 10px;
}

header .logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 50px;
  margin-right: 10px;
}

/* This adds space between the links between the navigation */
.navigation .link {
  padding: 10px;
}

/* This adds background and radius to the NavLink that is active */
.navigation .link.active {
  background-color: #EEEEEE;
  border-radius: 5px;
}

footer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 70px;
  font-size: 18px;
  border-top: 1px solid #EEEEEE;
}

.component {
  box-shadow: var(--box-shadow);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNotFound div {
  text-align: left;
}